{% extends "./base.html" %}
{% block contents %}
{% load static %}

<!--<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css">-->
<!--<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>-->
<link rel="stylesheet" href="/static/script/leaflet.css">
<script type="text/javascript" src="/static/script/leaflet.js"></script>


<style>
  #map {   height: 800px;  width: 1200px;}
</style>

<div class="row mt-5">
  <div class="col-12 text-center">
    <h1>Passage Plan({{title}})</h1>
  </div>
</div>


<div id="map"></div>

<script>
var dijkstra_data = new Array();
var marker_data = new Array();


{% for passage in passages %}
dijkstra_data.push({{passage}});
{% endfor %}




{% for key,value in passage_plan_dict.items %}

    var latlngs{{key | slice:":5"}} = [
    {% for passage_data in value %}
        {{passage_data}},
    {% endfor %}
    ] ;
{% endfor %}


//항해번호 0026E
var latlngs2 = [
[ 35.38 , 129.42 ],
[ 35.2272222 , 129.4275 ],
[ 34.535 , 128.8705556 ],
[ 34.4547222 , 128.7394444 ],
[ 34.4561111 , 128.0902778 ],
[ 34.6016667 , 127.9652778 ],
[ 34.6866667 , 127.9438889 ],
[ 34.7305556 , 127.8472222 ],
[ 34.75 , 127.83 ],
];

</script>


<script>

    var LeafIcon = L.Icon.extend({
		options: {
			shadowUrl: "{% static 'images/leaf-shadow.png' %}",
			iconSize:     [38, 95],
			shadowSize:   [50, 64],
			iconAnchor:   [22, 94],
			shadowAnchor: [4, 62],
			popupAnchor:  [-3, -76]
		}
	});

	var pointIcon = L.Icon.extend({
		options: {
			 shadowUrl: "{% static 'images/point.png' %}",
			iconSize:     [1, 1],

		}
	});

		var red_pointIcon = L.Icon.extend({
		options: {
			shadowUrl: "{% static 'images/red_point.png' %}",
			iconSize:     [1, 1],

		}
	});


	var greenIcon = new LeafIcon({iconUrl: 'images/leaf-green.png'}),
		redIcon = new LeafIcon({iconUrl: 'images/leaf-red.png'}),
		orangeIcon = new LeafIcon({iconUrl: 'images/leaf-orange.png'}),

		pointIcon = new pointIcon({iconUrl: "{% static 'images/point.png' %}"}),
		red_pointIcon = new red_pointIcon({iconUrl:  '/static/images/red_point.png'});


    var map = L.map('map', {
        center: [20 , 126.0],
        zoom: 4,
        maxZoom: 16,
        minZoom: 3,
        zoomControl: true,
    });



L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/Canvas/World_Light_Gray_Base/MapServer/tile/{z}/{y}/{x}', {

attribution: 'Tiles &copy; Esri',

        maxZoom: 16,

        minZoom: 3

}).addTo(map);




L.marker([ 34.62 , 128.73 ],{icon: pointIcon}).addTo(map);
L.marker([ 34.81 , 129.08 ],{icon: pointIcon}).addTo(map);





{% for marker in markers %}
{{marker}}
{% endfor %}



{% for key,value in passage_plan_dict.items %}
    var polyline = L.polyline(latlngs{{key | slice:":5"}}, {color: '{{key | slice:"6:"}}'}).addTo(map);
{% endfor %}


var polyline = L.polyline(dijkstra_data, {color: 'cyan'}).addTo(map);

</script>

<div class="row mt-5">
    <h3> {{title}} 최단경로 </h3>
    <ul>
{% for passage in passages %}
   <li> {{passage}} </li>
{% endfor %}
        </ul>
</div>

<div class="row mt-5">
    <h3> {{title}} 항로 </h3>
{% for key,value in passage_plan_dict.items %}
    <ul>
       항로번호{{key | slice:":5"}}
    {% for passage_data in value %}
        <li> {{passage_data}} </li>
    {% endfor %}
    </ul>
{% endfor %}

</div>




{% endblock %}
